.content__color-green{
    position: absolute;
    left: calc(100% - 98%);
    top: 70px;
}

@media screen and (max-width: 900px) {
    .content__color-green{
        top: 320px;
        left: 0;
    }
}

@media screen and (max-width: 855px) {
    .content__color-green{
        max-width: 200px;
    }
}

@media screen and (max-width: 650px) {
    .content__color-green{
        opacity: 0.6;
    }
}