.price__info_subtitle {
    width: 100%;
    margin: 45px 0 0;
    font-family: 'Roboto', "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-transform: uppercase;
    color: #3F3B3D;
    text-align: left;

}

@media screen and (max-width: 640px) {
    .price__info_subtitle {
        margin: 25px 0 0;
        font-size: 12px;
        line-height: 25px;  
    }
 }