.content {
    background-image: url(../../images/Eror.png);
    background-size: 240px 210px;
    background-repeat: no-repeat;
    background-position: center 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: relative;
}