.header__link {
    min-width: 100px;
    font-family: 'Roboto', "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 970px) {
    .header__link {
        font-size: 14px;
        line-height: 15px;
    }
 }

 @media screen and (max-width: 970px) {
    .header__link {
        font-size: 10px;
        line-height: 13px;

    }
 }


 @media screen and (max-width: 430px) {
    .header__link {
        font-size: 8px;
        line-height: 10px;
    }
 }

 @media screen and (max-width: 430px) {
    .header__link {
        font-size: 7px;
        line-height: 10px;
    }
 }

