.footer__text {
    font-family: 'Roboto', "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 880px) {
    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 390px) {
    .footer__text {
        font-size: 9px;
        line-height: 10px;
    }
}
