.gasebos__image {
    object-fit: cover;
    border-radius: 10px;
    width: 494px;
    max-height: 304px;
}

@media screen and (max-width: 655px) {
    .gasebos__image {
        max-width: 394px;
    }  
 }

 @media screen and (max-width: 550px) {
    .gasebos__image {
        max-width: 255px;
    }  
 }
