.contact__title {
    margin: 15px 0 0;
    font-family: 'Roboto', "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.56px;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .contact__title {
        margin: 10px 0 0;
        font-size: 20px;
        line-height: 30px;
    }
}