@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);

.header {
    width: 100%;
    background: #2B2A28;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 20;
}

.header__logo {
    width: 195px;
    height: 102px;
    margin: 0 65px 0 0;
}

.header__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header__link {
    min-width: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header__item_active {
    border-bottom: 2px solid #1C6097;
}

.header__item {
    margin-right: 20px;
}

.header__item:last-child {
    margin: 0;
}

.header__block {
    width: 130px;
    height: 40px;
    background: #009746;
    border-radius: 3px;
    margin-left: 12px;
}

.header__block_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.intro {
    margin-top: 100px;
    position: relative;
    background: #2B2A28;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.intro::after {
    content: '';
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0;
    height: 500px;
    transform: skewY(-10deg);
    background: #2B2A28;
}

.intro__image {
    width: 475px;
    height: 475px;
    margin-top: 18px;
    z-index: 10;
}

.intro__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0;
}

.intro__button {
    width: 178px;
    height: 45px;
    border: none;
    padding: 0;
    background: #009746;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 38px;
}

.intro__info {
    max-width: 460px;
    margin-left: 60px;
    z-index: 10;
}

.intro__color-yelow {
    position: absolute;
    right: 0;
    z-index: 1;
}

.info {
    margin-top: 380px;
    display: flex;
    justify-content: center;
    position: relative;
}

.info__list {
    max-width: 870px;
    margin: 42px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 46px;
}

.info__card {
    min-height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

.info__image {
    width: 85px;
    height: 110px;
}

.info__subtitle {
    margin: 30px 0 0;
    max-width: 186px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.56px;
    color: #000000;
}

.info__color-orange{
    top: 45px;
    position: absolute;
    left: 0;
}