.header__item_active {
    border-bottom: 2px solid #1C6097;
}

.header__item {
    margin-right: 20px;
}

.header__item:last-child {
    margin: 0;
}

@media screen and (max-width: 650px) {
    .header__item {
        margin-right: 10px;
    }
 }

 @media screen and (max-width: 580px) {
    .header__item {
        margin-right: 7px;
    }
 }

 @media screen and (max-width: 387px) {
    .header__item {
        margin-right: 4px;
    }
 }